<div class="listing">
	<h2>Fabulous House In A Great Location! Check it out here!</h2>
	<div id='rent'>
		<div>
			<span>
				<%= image_tag("price-tag.png", size: "21x20") %>
				<p>$900 per month</p>
			</span>
		</div>
	</div>

<div class="liquid highlight html"></div>
	<div id="carousel-single-image" class="touchcarousel minimal-light">     
	    <ul class="touchcarousel-container">
	        <li class="touchcarousel-item">
				<%= link_to image_tag("sample_listing/pic1-thumb.jpeg", size: "124x124"), image_url("sample_listing/pic1.jpeg") %>
	        </li>
	
			<li class="touchcarousel-item">
				<%= link_to image_tag("sample_listing/pic2-thumb.jpeg", size: "124x124"), image_url("sample_listing/pic2.jpeg") %>
	        </li>
	
			<li class="touchcarousel-item">
				<%= link_to image_tag("sample_listing/pic3-thumb.jpeg", size: "124x124"), image_url("sample_listing/pic3.jpeg") %>
	        </li>
	
			<li class="touchcarousel-item">
				<%= link_to image_tag("sample_listing/pic4-thumb.jpeg", size: "124x124"), image_url("sample_listing/pic4.jpeg") %>
	        </li>
	
			<li class="touchcarousel-item">
				<%= link_to image_tag("sample_listing/pic1-thumb.jpeg", size: "124x124"), image_url("sample_listing/pic1.jpeg") %>
	        </li>
	
			<li class="touchcarousel-item">
				<%= link_to image_tag("sample_listing/pic2-thumb.jpeg", size: "124x124"), image_url("sample_listing/pic2.jpeg") %>
	        </li>
	
			<li class="touchcarousel-item">
				<%= link_to image_tag("sample_listing/pic3-thumb.jpeg", size: "124x124"), image_url("sample_listing/pic3.jpeg") %>
	        </li>

			<li class="touchcarousel-item">
				<%= link_to image_tag("sample_listing/pic4-thumb.jpeg", size: "124x124"), image_url("sample_listing/pic4.jpeg") %>
	        </li>
	    </ul>
	</div>
	<div class="liquid endhighlight"></div>
	
	<div id="listing-details">
		<div id="basics">
			<h3>The Basics</h3>
			<ul>
				<li class="beds">3 beds</li>
				<li class="baths">1 bath</li>
				<li class="square-feet">1,200 Square Feet</li>
				<li class="building-type">Townhouse</li>
			</ul>
		</div>
		
		<div id="specifics">
			<h3>The Specifics</h3>
			<ul>
				<li class="pets">No Pets</li>
				<li class="lease-term">1 Year Lease</li>
				<li class="highlights">Property Highlights:</li>
				<ul class="sub-list">
					<li>Fireplace</li>
					<li>Washer/Dryer</li>
					<li>Central Air</li>
				</ul>
			</ul>
		</div>
	</div>
	
	
	<div id="listing-description">
		<div class="line-dots visible-phone"></div>
			<p>
			This house is pretty great for a
			few reasons. Lorem ipsum dolor
			sit amet, consectetur adipisicing
			elit, sed do eiusmod tempor
			incididunt ut labore et dolore
			magna aliqua. Ut enim ad minim
			veniam, quis nostrud exercitation
			ullamco laboris nisi ut aliquip ex
			ea commodo consequat.</p>
		<div class="line-dots visible-phone"></div>
	</div>
	
	<p class="phone-link">Landlord: <a href="tel:2767320507">276-732-0507</a></p>
	<a href="mailto:andrew@digrentals.com" class="contact-landlord">Email The Landlord</a>
	
		
</div>

<script>
	jQuery(function($) {
	    $("#carousel-single-image").touchCarousel({
			pagingNav: true,
			scrollbar: false,
			directionNavAutoHide: false,				
			itemsPerMove: 1,				
			loopItems: true,				
			directionNav: false,
			autoplay: false,
			autoplayDelay: 2000,
			useWebkit3d: true,
			transitionSpeed: 400
			
	    });
	});
</script>

<script>
  $('#carousel-single-image a').touchGallery();
</script>