<h3>Address:</h3>
<p>
  <%= f.label :line1, 'Address 1' %>
  <%= f.text_field :line1 %>
</p>

<p>
  <%= f.label :line2, 'Address 2' %>
  <%= f.text_field :line2 %>
</p>

<p>
  <%= f.label :city %>
  <%= f.text_field :city %>
</p>

<p>
  <%= f.label :state %>
  <%= f.text_field :state, :size => 2 %>
</p>

<p>
  <%= f.label :zip, 'Zip Code' %>
  <%= f.text_field :zip %>
</p>