<h3>Sign up and we’ll get a QR coded sign to your local store.</h3>

<%= form_tag signup_path, :class=> "form pull-right inline" do %>
	 <% if flash[:error].present? %>
   	<span class="label label-important"><strong>Well shoot! </strong><%= flash[:error]%></span>
   <% end %>
   
   <% if flash[:notice].present? %>
   	<span class="label label-success"><strong>Sweet! </strong><%= flash[:notice]%></span>
   <% end %>
   
   <%= text_field_tag :email, nil, :class => 'signup-text', :placeholder => 'Email' %>
   <%= text_field_tag :zip, nil, :class => 'signup-text', :placeholder => 'Zip Code' %>
   <%= submit_tag "Sign Up", :class => "signup-btn" %>
 <% end %>