<!DOCTYPE html>
<html>
<head>
  <title>DigRentals</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div id='body-wrapper' class="container">
<header>
	<% if @listingAddress %>
		<%= link_to "Map", root_path, class: "map-icon" %>
		<span class="header-address"><h1><%= @listingAddress %></h1></span>
	<% else %>
		<%= link_to "DigRentals", root_path, class: :logo %>
	<% end %>
</header>

<div class="span12 center-wrapper">
	<div class="content-wrapper span12">
		<%= yield %>
	</div>
	
	<div class="push"></div>
</div>

</div>
<footer>
	<p class="pull-right">PO Box 6402, Denver CO 80206 • <a href="tel:3035328888">303.532.8888</a> • DigRentals 2012 LLC</p>
</footer>
</body>
</html>
